#root {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

::selection {
  background: #6366f1;;
  color: #ffffff;
}

::placeholder {
  opacity: 0.5 !important;
}